.arrow-icon{
	font-size: 50px;
	margin: 5px;
}

.ant{
	color: red;
}

body{
	margin-top: 50px;
}

.justify-center{
	/*is centered with the inline align attribute*/
}

.scrolling-image-gallery{
	height: 100%;
	width: 100%;
	border: 1px double black;
	background-color: lightgray;
}

#image-to-be-changed{
	height: 100%;
	width: 100%;
}

/*
* BANNER BG
*/

#banner-bg{
	background-color: #ed6540;
	height: 40vh;
	width: 100%;
}

#banner-bg.service-icon-holder{
	color: red;
}