html{
	scroll-behavior: smooth;
}

.arrow-icon{
	font-size: 50px;
	margin: 5px;
}

.ant{
	color: red;
}

/*body{
	margin-top: 50px;
}*/

.justify-center{
	/*is centered with the inline align attribute*/
}

.scrolling-image-gallery{

	width: 100%;
	border: 5px double lightgray;
	background-color: lightgray;
}

#image-to-be-changed{
	height: 100%;
	width: 100%;
}

/*
* BANNER BG
*/

.services{
	background-color: #ffffff;
	min-height: 100vh;
}

.service-icon-holder{
	vertical-align: center;
	text-align: center;
	color: black;
	font-size: 1.2em;
	margin-top: 10%;
}

.insider-p{
	font-size: 28px;
}

#about{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4em;
	min-height: 70vh;
	vertical-align: center;
}

#our-story{
	font-size: 1em;
}


#our-story-heading{
	color: red;
	align-content: right;
	margin-left: 10%;
	font-size: 2.2em;
}

.atherton-holder{
	width: 100%;
}

.atherton{
	width: 100%;
}


/***********************************************************/
/*Button styles*/
.buttonstyle2{
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 2px solid #e83f1e;
	color: #e83f1e;
	font-size: 1.2em;
	font-weight: 500;
	margin: 5%;
}

.samebutton{
	min-width: 180px;
}


/* 
*Event links
*/

#whats-new{
	/*min-height: 20vh;*/
	background-color: #49ccf4;
	/*background-color: black;*/
	text-align: center;
	vertical-align: center;
}


.event-links{
	/*background-color: #ff2638;*/
	color: white;
	font-size: 1.8em;
	text-align: center;
	text-transform: uppercase;
	margin: 5% 1% 5% 1%;
}


/*.section{
	min-height: 100vh;
}*/


/*
* CONTACT US
*/

#contact-us-header{
	font-size: 2.2em;
}

#contact-us-body{
	font-size: 1.3em;
}





/******************NAVBAR TRANSPARENT CLASS *******************/
 .transparent{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 50%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/*nav{
	margin-top: 10px;
}*/

